#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


textarea {
  min-width: 100%;
  min-height: 200px;
}
